.slideName {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black; */
}

.slideText {
  font-size: 1.15rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black; */
}

.carousel {
  height: 85vh;
}

.carousel-item {
  height: 87vh;
}

.SlidesPics {
  object-fit: cover;
}
