a.dropdown-toggle.nav-link {
  display: flex;
}

th {
  font-size: 18px;
  font-weight: bold;
}

.dropdown-menu[data-bs-popper] {
  left: -95px;
  background-color: #1c4355;
  --bs-dropdown-link-color: white;
  --bs-dropdown-link-active-bg: #041c27;
  --bs-dropdown-link-hover-bg: #183d4e;
  --bs-dropdown-link-hover-color: white;
}
